* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body p {
    font-size: 18px;
}

.mt-6 {
    margin-top: 100px;
}

.container-gray {
    width: 1360px;
    height: 90px;
    background-color: #FAFAFA;
    border-radius: 70px;
}

.nav-content {
    width: 571px;
    height: 60px;
    border-radius: 40px;
    background-color: #ffffff;
}

.nav-content a {
    text-decoration: none;
    color: #000;
}

.btn-one {
    width: 158px;
    height: 60px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 40px;
    background-color: #ffffff; 
}

.header-one img {
    width: 100%;
    height: 617px;
}

.font-head {
    font-size: 50px;
}

.font-head-two {
    font-size: 30px;
}

.section-three i {
    margin-top: 70px;
    font-size: 30px;
    color: #58BF52;
}

.section-four i {
    color: #FF791A;
    margin-top: 70px;
    font-size: 30px;
}

.section-five i {
    color: #3741B5;
    margin-top: 70px;
    font-size: 30px;
}

.input-box input {
    width: 400px;
    height: 60px;
    border-radius: 40px;
    padding: 15px;
    border: 1px solid #000;
    color: #737373; 
}

.home-one img {
    width: 100%;
}

.input-box {
    margin-top: 130px;
}

.arrow-icon i {
    margin: 10px;
}

.arrow-icon i:hover {
    cursor: pointer;
    color: #FF791A;
}

.arrow-black i {
    background-color: #000;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.three-box {
    width: 447px;
    height: 438px;
    border: 1px solid #000;
}